.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 34px;
  padding-right: 34px;
  background-color: @main-light;
}

.advantages__list {
  .list-reset();
  margin-bottom: 40px;
}

.advantages__item {
  padding-bottom: 35px;

  &:first-child {
    padding-top: 62px;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: @black;
}

.advantages__description {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-align: center;
  color: @main-dark;
}

.advantages__picture {
  align-self: center;

  &--tablet,
  &--desktop {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    flex-direction: row;
    justify-content: center;
  }

  .advantages__list {
    order: 2;
  }

  .advantages__picture {
    display: none;

    &--tablet {
      display: block;
      margin-right: 41px;
      order: 1;
    }
  }

  .advantages__title,
  .advantages__description {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }

  .advantages__item {
    max-width: 292px;
    margin-right: 108px;
    padding-bottom: 67px;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .advantages__picture {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .advantages__title,
  .advantages__description {
    text-align: center;
  }
}
