.advantages {
  background-color:@main-light;
}

.advantages__list {
  .list-reset();
}

.advantages__item {
  padding-bottom: 40px;
}

.advantages__item:first-child {
  padding-top: 119px;
}

.advantages__title {
  .font-basics();
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  color: @black;
}

.advantages__description {
  .font-basics();
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  color: @main-dark;
}
