.contacts__link {
  text-decoration: none;
}

.contacts__action-type {
  padding-bottom: 28px;
  .font-basics();
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  color: @main-dark;
}

.contacts__action {
  .font-basics();
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: @main-pink;
}
