.copyright {
  display: flex;
}

.copyright__text {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  text-align: left;
  color: @main-dark;
}

.copyright__link {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

.copyright__link svg {
  width: 27px;
  height: 34px;

  &:hover {
    fill: @main-dark;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    padding-bottom: 0;
  }

  .copyright__link {
    margin-left: 10px;
  }
}

@media (min-width: @desktop-width) {
  .copyright__text {
    font-size: 18px;
    line-height: 1;
  }
}
