.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  color: @white;
  background-color: @dark;
}

.download__title {
  display: none;
}

.download__main-link {
  .link-reset();
  margin-top: 28px;
  margin-bottom: 32px;
}

.download__links {
  display: flex;
}

.download__link {
  .link-reset();
  margin-right: 34px;
  margin-bottom: 28px;

  &:last-child {
    margin-right: 0;
  }
}

.download__description {
  margin: 0;
  padding-bottom: 30px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .download {
    position: absolute;
    top: -516px;
    left: 20px;
    max-width: 300px;
    padding: 0;
    background-color: transparent;
    z-index: 1;
  }

  .download__title {
    display: block;
    padding-left: 78px;
    padding-right: 78px;
    font-size: 40px;
    font-weight: 300;
    line-height: normal;
    text-align: center;
  }

  .download__link {
    margin-bottom: 41px;
  }

  .download__description {
    font-size: 18px;
    line-height: 1.33;
  }
}

@media (min-width: @desktop-width) {
  .download {
    position: absolute;
    top: -605px;
    left: 130px;
  }
}
