.download {
  color: @white;
  background-color: @main-dark;
}

.download__main-link {
  .link-reset();
  display: inline-block;
}

.download__link {
  .link-reset();
}

.download__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
}
