.download {
  color: @white;
  background-color: @dark;
  border-top: 1px solid transparent;
  box-sizing: border-box;
}

.download__title {
  display: none;
}

.download__main-link {
  .link-reset();
  display: inline-block;
  margin-top: 28px;
  margin-bottom: 32px;
}

.download__links {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.download__link {
  .link-reset();
  display: flex;
  width: 47px;
  height: 56px;
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }

  &--apple {
    background: url("../img/logo-apple.svg") no-repeat 50% 50%;
  }

  &--android {
    background: url("../img/logo-android.svg") no-repeat 50% 50%;
  }

  &--ms {
    background: url("../img/logo-microsoft.svg") no-repeat 50% 50%;
  }
}

.download__description {
  margin: 0;
  padding-bottom: 30px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .download__block {
    position: absolute;
    top: -516px;
    max-width: 300px;
    padding-top: 49px;
  }

  .download__title {
    display: block;
    margin: 0;
    padding: 0 58px;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.25;
    text-align: center;
  }

  .download__main-link-block {
    margin-bottom: 15px;
  }

  .download__links {
    margin-bottom: 38px;
  }

  .download__description {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.33;
  }
}

@media (min-width: @desktop-width) {
  .download__block {
    top: -570px;
    padding-top: 0;
  }

  .download__title {
    padding: 0;
    padding-bottom: 20px;
    font-size: 50px;
  }

  .download__main-link-block {
    margin-bottom: 37px;
  }

  .download__main-link {
    font-size: 21px;
    line-height: 0.86;
  }

  .download__links {
    margin-bottom: 57px;
  }
}
