@media (min-width: @desktop-width) {
  .form-list-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .form-list-checkbox__item {
    min-width: 255px;
    margin-right: 60px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
