.form__fieldset {
  border: none;

  &--achievements-block {
    background-color: @main-light;
  }

  &--contacts-block {
    margin-top: 33px;
  }

  &--app-block {
    background-color: @main-light;
  }

  &--description-block {
    margin-top: 39px;
  }
}

.form__field-title {
  display: block;
  margin-top: 20px;
  margin-bottom: 8px;
  padding-left: 21px;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: left;
  text-transform: uppercase;
  color: @main-pink;

  &--textarea {
    padding: 0;
    text-align: center;
  }
}

.form__input {
  min-width: 276px;
  padding-top: 16px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  color: @main-dark;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 44px;
  }

  &--box {
    padding: 0;
    padding-left: 33px;
    border: none;
  }

  &--textarea {
    min-height: 197px;
  }
}

.form-list-checkbox__item {
  margin-bottom: 41px;
}

.form__achievements-list {
  .list-reset();
}

.form__achievements-title {
  margin-top: 39px;
  margin-bottom: 40px;
  padding: 0;
  text-align: center;
  line-height: 1.29;
}

.form__app-list {
  .list-reset();
}

.form-list-radio__item {
  margin-bottom: 33px;
}

.form__app-title {
  margin-top: 39px;
  margin-bottom: 37px;
  padding: 0;
  text-align: center;
  line-height: 1.29;
}

.form__submit {
  margin-bottom: 38px;
}

.form__reference {
  margin: 0;
  margin-bottom: 56px;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: center;
  text-transform: uppercase;
  color: @main-dark;
}

.form__star {
  color: @main-pink;
}
