.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__form-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__fieldset {
  border: none;

  &--achievements-block {
    background-color: @main-light;
  }

  &--contacts-block {
    margin-top: 33px;
  }

  &--app-block {
    background-color: @main-light;
  }

  &--description-block {
    margin-top: 39px;
  }
}

.form__field-title {
  display: block;
  margin-top: 20px;
  margin-bottom: 8px;
  padding-left: 21px;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: left;
  text-transform: uppercase;
  color: @main-pink;

  &:first-child {
    margin-top: 0;
  }

  &--textarea {
    padding: 0;
    text-align: center;
  }
}

.form__input {
  padding-top: 16px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.67;
  text-align: left;
  color: @main-dark;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;

  &:last-child {
    margin-bottom: 44px;
  }

  &--box {
    padding: 0;
    padding-left: 33px;
    border: none;
  }

  &--textarea {
    min-height: 197px;
  }
}

.form-list-checkbox__item {
  margin-bottom: 41px;
}

.form__achievements-list {
  .list-reset();
}

.form__achievements-title {
  margin-bottom: 40px;
  padding: 0;
  padding-top: 39px;
  text-align: center;
  line-height: 1.29;
}

.form__app-list {
  .list-reset();
}

.form-list-radio__item {
  margin-bottom: 33px;
}

.form__app-title {
  margin-bottom: 37px;
  padding: 0;
  padding-top: 39px;
  text-align: center;
  line-height: 1.29;
}

.form__submit {
  margin-bottom: 38px;
}

.form__reference {
  margin: 0;
  margin-bottom: 56px;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: center;
  text-transform: uppercase;
  color: @main-dark;
}

.form__star {
  color: @main-pink;
}

.form_button-block {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .form__input {
    min-width: 521px;
  }

  .form__fieldset {
    margin-bottom: 54px;
  }

  .form__fieldset:not(.form__fieldset--name-block) {
    border: 2px solid @grey;
  }

  .form__button-block {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 52px;
  }
}

@media (min-width: @desktop-width) {
  .form__form-block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form__input {
    min-width: 336px;
  }

  .form__fieldset {
    &--name-block {
      max-width: 431px;
      order: 1;
    }

    &--achievements-block {
      display: flex;
      max-width: 936px;
      order: 4;
      background-color: transparent;
    }

    &--contacts-block {
      display: flex;
      min-width: 936px;
      order: 3;

      .form__input {
        order: 1;
      }

      .form__field-title {
        display: inline-flex;
        order: 2;
      }
    }

    &--app-block {
      max-width: 431px;
      order: 2;
    }

    &--description-block {
      display: flex;
      justify-content: center;
      min-width: 936px;
      order: 5;
    }
  }

  .form__button-block {
    min-width: 936px;
    order: 6;
  }
}
