.main-content {
  position: relative;
}

.main-content__description {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: center;
  color: @main-dark;

  &--photo {
    padding-top: 45px;
  }

  &--photo-span {
    display: block;
    padding-bottom: 52px;
  }

  &--photo-bottom {
    padding: 41px 0 44px;

    &:first-child {
      padding-bottom: 0;
    }

    &:last-child {
      padding-top: 0;
    }
  }

  &--form {
    padding: 45px 0 37px;
  }
}

@media (max-width: @uptotablet-width-only) {
  .main-content__description {
    &--form-span {
      display: none;
    }
  }
}

@media (min-width: @tablet-width) and (max-width: @uptodesktop-width-only) {
  .main-content__description {
    &--photo-span {
      display: inline;
    }

    &--photo {
      padding: 93px 25px 75px;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-content__description {
    font-size: 18px;
    line-height: 1.67;

    &--photo-bottom {
      padding: 48px 0 66px;
    }

    &--form {
      padding: 93px 65px 70px;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-content__description {
    &--photo-span {
      padding-bottom: 87px;
    }

    &--photo {
      padding-top: 92px;
    }

    &--photo-bottom {
      padding: 5px 0 66px;
    }

    &--form {
      padding: 93px 75px 66px;
    }
  }
}
