.main-menu {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.78;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background-color: @main-dark;
}

.main-menu__list {
  .list-reset();
}

@media (min-width: @desktop-width) {
  .main-menu {
    background-color: rgba(29, 39, 50, 0.7);
  }

  .main-menu__block {
    display: flex;
  }

  .main-menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
  }
}
