.page-header {
  background: rgb(29, 39, 50) url("../img/bg-back-mobile@1x.jpg");
}

.page-header__title {
  padding-top: 35px;
  padding-bottom: 105px;
  .font-basics();
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: @white;
}
