.photo-block__list {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .photo-block__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}
