.photo-uploader {
  background-color: @main-light;
}

.photo-uploader__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-uploader__photo {
  flex-shrink: 0;
  width: 280px;
  margin-bottom: 42px;
  padding-top: 20px;
}

.photo-uploader__manager {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-uploader__edit-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.photo__uploader-radioinput {
  display: none;
}

.photo__uploader-radio {
  margin-left: 20px;
  margin-right: 22px;

  &--fill,
  &--contrast {
    margin-top: 5px;
  }
}

.photo-uploader__toggle {
  /*margin-left: 10px;
  margin-right: 25px;*/
  border: none;

  &--crop svg {
    width: 44px;
    height: 44px;
  }

  &--fill svg {
    width: 48px;
    height: 43px;
  }

  &--contrast {
    svg {
      width: 32px;
      height: 32px;
    }
  }
}

.photo-uploader__buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 41px;
}

.photo-uploader__send {
  margin-bottom: 12px;
  color: @main-pink;
  border-color: @main-pink;

  &:hover {
    color: @white;
    background-color: @main-pink;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @main-pink;
  }
}

.photo-uploader__cancel {
  color: rgba(40, 54, 69, 0.1);
  border-color: rgba(40, 54, 69, 0.1);

  &:hover {
    color: rgba(40, 54, 69, 0.3);
    border-color: rgba(40, 54, 69, 0.3);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @main-dark;
    opacity: 0.3;
  }
}

@media (max-width: @uptotablet-width-only) {
  .photo-uploader__toggle {
    cursor: pointer;
  }

  .photo-uploader__range .photo__uploader-radioinput {
    &:not(:checked) + .photo-uploader__toggle svg {
      fill: @main-dark;
      opacity: 0.3;

      &:hover {
        opacity: 0.5;
      }
    }

    &:not(:checked) + .photo-uploader__toggle--contrast svg path {
      fill: @main-dark;
    }
  }

  .photo__uploader-bar {
    position: absolute;
    top: 70%;
    right: 50%;
    transform: translateX(50%);

    &:not(.photo__uploader-bar--active) {
      display: none;
    }
  }

  .photo-uploader__edit-block {
    position: relative;
    height: 85px;
  }

  .photo-uploader__buttons {
    padding-top: 38px;
    border-top: 1px solid rgba(40, 54, 69, 0.1);
  }
}

@media (min-width: @tablet-width) and (max-width: @uptodesktop-width-only) {
  .photo-uploader__toggle {
    margin-left: 10px;
    margin-right: 15px;

    &--crop svg {
      width: 22px;
      height: 22px;
    }

    &--fill svg {
      width: 24px;
      height: 22px;
    }

    &--contrast svg {
      width: 16px;
      height: 16px;
    }
  }
}

@media (min-width: @tablet-width) {
  .photo-uploader__block {
    flex-direction: row;
  }

  .photo-uploader__photo {
    width: 300px;
    margin-right: 40px;
    margin-bottom: 0;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  .photo-uploader__manager {
    justify-content: space-between;
  }

  .photo-uploader__edit-block {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 75px;
  }

  .photo__uploader-radio {
    margin-left: 0;
    margin-right: 0;

    &--fill,
    &--contrast {
      margin-top: 0;
    }
  }

  .photo-uploader__range {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(40, 54, 69, 0.1);
  }

  .photo-uploader__buttons {
    margin-bottom: 0;
  }

  .photo-uploader__send {
    margin-bottom: 24px;
  }
}

@media (min-width: @desktop-width) {
  .photo-uploader__block {
    align-items: flex-start;
    padding: 0;
    background-color: @main-light;
  }

  .photo-uploader {
    background-color: transparent;
  }

  .photo-uploader__photo {
    margin-left: 80px;
    margin-right: 90px;
    margin-bottom: 0;
    padding-bottom: 57px;
  }

  .photo-uploader__manager {
    padding-top: 40px;
  }

  .photo-uploader__edit-block {
    margin-bottom: 145px;
  }

  .photo-uploader__toggle {
    margin: 6px 40px 24px -20px;

    &--contrast {
      margin-bottom: 0;
    }
  }

  .photo-uploader__range {
    height: 72px;
    box-sizing: border-box;
  }

  .photo-uploader__buttons {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .photo-uploader__send {
    min-width: 183px;
    margin-right: 44px;
    margin-bottom: 0;
  }

  .photo-uploader__cancel {
    min-width: 183px;
    color: rgba(40, 54, 69, 0.1);
    border-color: rgba(40, 54, 69, 0.1);
  }
}
