.photo-uploader {
  background-color: @main-light;
}

.photo-uploader__send {
  color: @main-pink;
  border-color: @main-pink;
}

.photo-uploader__cancel {
  margin-bottom: 41px;
  color: rgba(40, 54, 69, 0.1);
  border-color: rgba(40, 54, 69, 0.1);
}
