.photo-uploader {
  background-color: @main-light;
}

.photo-uploader__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-uploader__photo {
  flex-shrink: 0;
  width: 280px;
  margin-bottom: 42px;
  padding-top: 20px;
}

.photo-uploader__manager {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-uploader__edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 39px;
}

.photo-uploader__edit input {
  display: none;
}

.photo-uploader__toggle {
  margin-right: 34px;
  border: none;

  &:last-child {
    margin-right: 0;
  }

  &--crop svg {
    width: 44px;
    height: 44px;
  }

  &--fill svg {
    width: 48px;
    height: 43px;
  }

  &--contrast svg {
    width: 32px;
    height: 32px;
  }
}

.photo-uploader__bar {
  &--scale {
    position: relative;
    width: 240px;
    height: 2px;
    background-color: @black;
  }

  &--switch {
    position: absolute;
    top: -8px;
    width: 15px;
    height: 15px;
    background-color: @main-light;
    border: 2px solid @main-pink;
    border-radius: 50%;
    cursor: pointer;

    &:active {
      background-color: @main-pink;
    }
  }

  &:not(.photo-uploader__bar--active) {
    display: none;
  }
}

.photo-uploader__controls {
  margin-bottom: 73px;
}

.photo-uploader__buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 41px;
}

.photo-uploader__send {
  margin-bottom: 12px;
  color: @main-pink;
  border-color: @main-pink;

  &:hover {
    color: @white;
    background-color: @main-pink;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @main-pink;
  }
}

.photo-uploader__cancel {
  color: rgba(40, 54, 69, 0.1);
  border-color: rgba(40, 54, 69, 0.1);

  &:hover {
    color: rgba(40, 54, 69, 0.3);
    border-color: rgba(40, 54, 69, 0.3);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @main-dark;
    opacity: 0.3;
  }
}

@media (max-width: @uptotablet-width-only) {
  .photo-uploader__toggle {
    cursor: pointer;
  }

  .photo-uploader__edit input {
    &:not(:checked) + .photo-uploader__toggle svg {
      fill: @main-dark;
      opacity: 0.3;

      &:hover {
        opacity: 0.5;
      }
    }

    &:not(:checked) + .photo-uploader__toggle--contrast svg path {
      fill: @main-dark;
    }
  }
}

@media (min-width: @tablet-width) {
  .photo-uploader__block {
    flex-direction: row;
    justify-content: center;
  }

  .photo-uploader__photo {
    width: 300px;
    margin-right: 40px;
    margin-bottom: 0;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  .photo-uploader__manager {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photo-uploader__edit {
    flex-direction: column;
    align-items: center;
  }

  .photo-uploader__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .photo-uploader__toggle {
    margin-right: 20px;
    margin-top: 24px;
    margin-bottom: 24px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  .photo-uploader__bar {
    height: 72px;
    padding-top: 34px;
    padding-bottom: 34px;
    box-sizing: border-box;

    &:first-child {
      padding-top: 14px;
      padding-bottom: 0;
    }

    &:last-child {
      padding-top: 44px;
      padding-bottom: 0;
    }

    &--scale {
      width: 202px;
    }

    &:not(.photo-uploader__bar--active) {
      display: block;
    }
  }

  .photo-uploader__send {
    margin-bottom: 24px;
  }
}

@media (min-width: @desktop-width) {
  .photo-uploader {
    background-color: transparent;
  }

  .photo-uploader__block {
    background-color: @main-light;
  }

  .photo-uploader__photo {
    margin-left: 80px;
    margin-right: 90px;
    margin-bottom: 0;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  .photo-uploader__bar {
    &--scale {
      width: 288px;
    }
  }

  .photo-uploader__buttons {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  .photo-uploader__send {
    min-width: 183px;
    margin-right: 44px;
    margin-bottom: 0;
  }

  .photo-uploader__cancel {
    min-width: 183px;
    color: rgba(40, 54, 69, 0.1);
    border-color: rgba(40, 54, 69, 0.1);
  }
}
