.popup__wrapper {
  padding-left: 23px;
  padding-right: 23px;
}

.popup__title {
  margin: 0;
  margin-bottom: 35px;
  padding-top: 40px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  color: @black;
}

.popup__text {
  margin: 0;
  margin-bottom: 38px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-align: center;
  color: @main-dark;
}

.popup__button {
  align-self: center;
  margin-bottom: 50px;
}

.popup__button-block {
  padding-top: 50px;
  background-color: @main-light;

  &--submit {
    background-color: transparent;
  }

  &--wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @tablet-width) {
  .popup {
    display: flex;
    flex-direction: column;
    box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  }

  .popup__wrapper {
    align-self: center;
    width: 460px;
    margin: 0 auto;
  }

  .popup__title {
    font-size: 30px;
  }

  .popup__text {
    font-size: 18px;
  }

  .popup__button-block {
    &--wrapper {
      align-self: center;
      margin: 0 auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .popup__wrapper {
    width: 780px;
  }

  .popup__title {
    font-size: 30px;
  }

  .popup__text {
    font-size: 18px;
    line-height: 1.33;
  }

  .popup__button-block {
    &--submit {
      background-color: @main-light;
    }
  }
}
