.posts-list__item {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.posts-list__panorama {
  width: 100%;

  &--tablet,
  &--desktop {
    display: none;
  }
}

.posts-list__photo {
  align-self: center;

  &--tablet,
  &--desktop {
    display: none;
  }
}

.posts-list__info {
  display: flex;
  flex-direction: column;
  background-color: @main-light;
}

.posts-list__author {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  text-align: left;
  color: @main-dark;
}

.posts-list__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
  text-transform: uppercase;
  color: @main-dark;
}

.posts-list__text {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-align: left;
  color: @main-dark;
}

.posts-list__like {
  font-size: 12px;
  font-weight: normal;
  line-height: 2;
  text-align: left;
  text-transform: uppercase;
  color: @main-pink;
}

@media (min-width: @tablet-width) {
  .posts-list__panorama {
    display: none;

    &--tablet {
      display: block;
    }
  }

  .posts-list__item {
    max-width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .posts-list__photo {
    display: none;

    &--tablet {
      display: block;
    }
  }

  .posts-list__info {
    padding: 26px 41px 24px 27px;
  }

  .posts-list__text {
    &--panorama {
      order: 3;
    }
  }

  .posts-list__like {
    &--panorama {
      order: 2;
    }
  }
}

@media (min-width: @desktop-width) {
  .posts-list__panorama {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .posts-list__photo {
    display: none;

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .posts-list__item {
    margin-bottom: 54px;

    &:nth-child(2n) {
      margin-right: 20px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .posts-list__author {
    &--panorama {
      margin-right: 150px;
    }
  }
}
