.posts-list__item {
  margin-bottom: 20px;
  background-color: @main-light;

  &:last-child {
    margin-bottom: 0;
  }
}

.posts-list__photo {
  margin-bottom: 13px;
}

.posts-list__author {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  text-align: left;
  color: @main-dark;
}

.posts-list__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
  text-transform: uppercase;
  color: @main-dark;
}

.posts-list__text {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  text-align: left;
  color: @main-dark;
}

.posts-list__like {
  font-size: 12px;
  font-weight: normal;
  line-height: 2;
  text-align: left;
  text-transform: uppercase;
  color: @main-pink;
}
