.prices {
  background-color: @main-light;
}

.prices__list {
  border-collapse: collapse;
}

.prices__tariff {
  padding-top: 23px;
  padding-bottom: 21px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background-color: @main-dark;
  border: solid 2px @main-dark;
}

.prices__option {
  padding-top: 23px;
  padding-bottom: 21px;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: left;
  text-transform: uppercase;
  color: @main-dark;
  border: solid 2px #e5e5e5;
}
