.prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @main-light;
}

.prices__table {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 427px;
}

.prices__list {
  .list-reset();
  border-collapse: collapse;
  margin-bottom: 45px;
  margin-top: 100px;
  display: table;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.prices__item {
  display: table-row;
}

.prices__content {
  display: table-cell;
}

.prices__tariff {
  padding: 17px 89px 18px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background-color: @main-dark;
  border-top: solid 2px @main-dark;
  border-bottom: solid 2px @main-dark;

  &--type {
    display: block;
    padding-bottom: 2px;
  }

  &--price {
    display: block;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
  }
}

.prices__option {
  padding-top: 14px;
  padding-left: 22px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: left;
  text-transform: uppercase;
  color: @main-dark;
  background: url("../img/icon-yes.svg") no-repeat 90% 50%;
  border: solid 2px #e5e5e5;

  &--first {
    font-size: 0;
  }

  &--smiles {
    &:nth-child(2) {
      background: url("../img/icon-no.svg") no-repeat 90% 50%;
    }
  }

  &--comment {
    background: url("../img/icon-no.svg") no-repeat 90% 50%;

    &:last-child {
      background: url("../img/icon-yes.svg") no-repeat 90% 50%;
    }
  }
}

.prices__toggles {
  padding-bottom: 51px;
}

@media (min-width: @tablet-width) {
  .prices__list {
    margin-bottom: 75px;
  }

  .prices__tariff {
    padding: 17px 40px 18px;
  }

  .prices__option:not(.prices__option--first) {
    font-size: 0;
  }

  .prices__option {
    background-position: 50% 50%;

    &--first {
      padding: 8px 25px 6px 15px;
      font-size: 14px;
      text-transform: none;
      background: none;
    }

    &--smiles {
      &:nth-child(2) {
        background-position: 50% 50%;
      }
    }

    &--comment {
      background-position: 50% 50%;

      &:last-child {
        background-position: 50% 50%;
      }
    }
  }

  .prices__toggles {
    display: none;
  }
}
