.prices {
  background: @main-light url("../img/bg-triangle-white.svg") no-repeat;
}

.prices__table {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 415px;
  margin-bottom: 40px;
}

.prices__list {
  .list-reset();
  border-collapse: collapse;
  margin-top: 130px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.prices__tariff {
  position: relative;
  min-width: 276px;
  padding: 17px 0 18px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  text-transform: uppercase;
  color: @white;
  background-color: @main-dark;
  border: 2px solid #e5e5e5;

  &:nth-child(3) {
    background: @main-dark url("../img/bg-hit.svg") no-repeat;
  }
}

.prices__tariff-ribbon {
  position: absolute;
  top: 12%;
  left: 3%;
  padding-left: 10px;
  font-size: 10px;
  font-weight: 600;
  line-height: 2.1;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-45deg);
}

.prices__tariff-type {
  display: block;
  padding-bottom: 2px;
}

.prices__tariff-price {
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
}

.prices__option {
  padding-top: 14px;
  padding-left: 22px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: left;
  text-transform: uppercase;
  color: @main-dark;
  background: url("../img/icon-yes.svg") no-repeat 90% 50%;
  border: 2px solid #e5e5e5;

  &--first {
    padding: 0;
    font-size: 0;
    background: none;
    border: none;
  }

  &--smiles {
    &:nth-child(2) {
      background: url("../img/icon-no.svg") no-repeat 90% 50%;
    }
  }

  &--comment {
    background: url("../img/icon-no.svg") no-repeat 90% 50%;

    &:last-child {
      background: url("../img/icon-yes.svg") no-repeat 90% 50%;
    }
  }
}

.prices__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 48px;
}

@media (min-width: @tablet-width) {
  .prices {
    display: flex;
    justify-content: center;
  }

  .prices__table {
    position: static;
    height: auto;
    margin-bottom: 0;
  }

  .prices__list {
    position: static;
    transform: none;
    margin: 110px auto 70px;
  }

  .prices__tariff {
    min-width: auto;
    padding: 12px 40px 7px;
    font-size: 16px;
    line-height: 1.88;

    &:nth-child(3) {
      background: @main-dark url("../img/bg-hit-tablet.svg") no-repeat;
    }
  }

  .prices__tariff-type {
    padding-bottom: 0;
  }

  .prices__tariff-price {
    font-size: 18px;
    line-height: 1.67;
  }

  .prices__option:not(.prices__option--first) {
    font-size: 0;
  }

  .prices__option {
    background-position: 50% 50%;

    &--first {
      padding: 8px 25px 6px 15px;
      font-size: 14px;
      text-transform: none;
      border: 2px solid #e5e5e5;
    }

    &--smiles {
      &:nth-child(2) {
        background-position: 50% 50%;
      }
    }

    &--comment {
      background-position: 50% 50%;

      &:last-child {
        background-position: 50% 50%;
      }
    }
  }

  .prices__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .prices__list {
    margin: 150px auto 98px;
  }

  .prices__tariff {
    padding: 17px 70px 20px;
    font-size: 18px;
    line-height: 1.67;
  }

  .prices__tariff-price {
    font-size: 24px;
    line-height: 1.25;
  }

  .prices__option {
    padding: 16px 66px 12px 24px;

    &--first {
      font-size: 18px;
      line-height: 1.67;
    }
  }
}
