.promo-block__promo-text {
  margin: 0;
  padding-top: 40px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.35;
  text-align: center;
  color: @main-dark;

  &:last-child {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}

@media (min-width: @tablet-width) {
  .promo-block__promo-text {
    padding-top: 47px;
    padding-bottom: 47px;
    font-size: 40px;
    line-height: 1.24;

    &:first-child {
      padding-bottom: 0;
    }

    &:last-child {
      padding: 0 25px 45px;
    }
  }
}

@media (min-width: @desktop-width) {
  .promo-block__promo-text {
    padding-top: 66px;
    padding-bottom: 70px;
    font-size: 50px;

    &:last-child {
      padding: 0 110px 70px;
    }
  }
}
