.promo-block {
  background-color: @white;
}

.promo-block__promo-text {
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  color: @main-dark;

  &:first-child {
    padding-top: 46px;
  }
}
