.research {
  display: none;
}

@media (min-width: @tablet-width) {
  .research {
    display: block;
  }

  .research__block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .research__picture {
    margin-top: 59px;
    margin-bottom: 52px;
    margin-right: 70px;
    padding: 80px 66px 61px;
    font-size: 96px;
    font-weight: bold;
    line-height: 1.56;
    text-align: center;
    color: @main-pink;
    background: url("../img/icon-timer.svg") no-repeat, url("../img/icon-editor-diagram-fill.svg") no-repeat;
    background-size: contain;
  }

  .research__title {
    margin: 0;
    margin-bottom: 10px;
    padding-right: 141px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    color: @black;
  }

  .research__text {
    margin: 0;
    margin-bottom: 10px;
    padding-right: 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    text-align: left;
    color: @main-dark;

    &--link {
      color: @main-pink;
    }
  }
}

@media (min-width: @desktop-width) {
  .research {
    background-color: @main-light;
  }

  .research__picture {
    margin-top: 0;
    padding: 95px 84px 75px;
    font-size: 120px;
  }

  .research__title {
    margin-top: -20px;
    margin-bottom: 30px;
    padding-right: 0;
    line-height: 1;
  }

  .research__text {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.67;
  }
}
