.reviews {
  background-color: @white;
}

.reviews__list {
  .list-reset();
}

.reviews__item {
  padding-top: 49px;
}

.reviews__author {
  padding-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  color: @black;
}

.reviews__review-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  text-align: center;
  color: @main-dark;
}
