.social__list {
  display: flex;
  .list-reset();
}

.social__item {
  margin-right: 15px;
  margin-bottom: 41px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  .link-reset();
  color: @black;
}

@media (min-width: @tablet-width) {
  .social__item {
    margin-bottom: 0;
  }
}
