.submit-button {
  min-width: 276px;
  padding-top: 15px;
  padding-bottom: 14px;
  .font-basics();
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-transform: uppercase;
  color: @white;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 4px;
  cursor: pointer;
}
