html {
  line-height: 0;
}

body {
  position: relative;
  min-width: @mobile-width;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: @white;
}

img {
  max-width: 100%;
  height: auto;
  line-height: 0;
}
